/* Usa Poppins para toda la app */
.app-body {
  font-family: var(--font-poppins), system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* (Opcional) helpers de peso */
.w-400 { font-weight: 400; }
.w-500 { font-weight: 500; }
.w-600 { font-weight: 600; }
.w-700 { font-weight: 700; }
 